* {
    font-family: "Letter Gothic Std";
    text-decoration: none;

}
body {
    text-align: center;
    margin: 0 auto;
    background-image: url(images/bghome.jpg);

}
.header {
    border: none;
    margin: 0 auto;
    background: white;
    box-shadow: 0px 0px 30px 5px white;
    z-index: 2;
}
.mid-logo {
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 0px;

}

.header > .header-button {
    padding-bottom: 2rem;

}
.header > .header-button > button {
    border: none;
    border-radius: 10px;
    margin-right: 90px;
    margin-left: 90px;
    background: transparent;

}
.header > .header-button > button > a {
    color: black;
    font-size: large;
    transition: all 0.3s ease;

}
.header > .header-button > button > a:hover {
    font-size: 22px;

}
p {
    border: white;       
    background: none;
    margin-left: 80px ;
    margin-right: 80px;
    margin-top: 50px; 
    font-size: x-large;
    border-radius: 20px;
    color: white;
    transition: all 0.3s ease;
}
p:hover {
    font-size: 26px;
}
/*abime arkaplanlı olanı göster sonra 
 arkaplansız ve yazının beyaz olanını 
 göster */

 @media screen and (max-width: 1155px) {
    .header {
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
         height: 9rem;
         border: none;
         margin: 0 auto;
         background: white;
         box-shadow: 0px 0px 30px 5px white;
          z-index: 2;
         cursor: pointer;
     }  
         
     .mid-logo {
         width: 0px;
         height: 0px;
          margin-top: 75px;
         margin-bottom: 40px;
         position: fixed;
         bottom: 0px;
         left: 25rem;
         right: 10px; 
     }
     
 
     .header > .header-button > button {
         border: none;
         border-radius: 10px;
         margin-right: 20px;
         margin: 0px 0px 0px 0px;
         padding-top: 3rem;
         text-align: start;
         width: 207px;
         background: 
          }
         
     
     
          .header > .header-button > button > a {
         font-size: 40px;
         border: none;
         margin-right: 20px; 
         margin: 0px 20px 0px 10px;
         padding-top: 3rem;
         padding-right: 1rem;
         width: 297px;
         height: 200px;
         padding-bottom: 7rem;
         
     }
     .header > .header-button > button > a:hover {
         font-size: 40px;
     }
         
     
     
     
     
     .ben > img {
     width: 700px;
     }
     .ben > img:hover {
         border: none;
         width: 700px;
         box-shadow: 0px 0px 30px 10px white;
     }
     p {
         font-size: 20px;
        padding-bottom: 200px;
        }
     p:hover {
         font-size: 20px;
     }
     .blog:hover {
         font-size: 120px;
         
     }





 }
 